/* Updated CSS */
.header-img {
  max-width: 100%;
  height: auto;
  max-height: 450px;
  width: auto;
}

.image-container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container-contact h3 {
  transform: translateY(-50%);
  color: #012e55;
  font-size: 60px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.image-container-contact p {
  transform: translateY(-50%);
  color: #012e55;
  font-size: 30px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  padding: 10px;
  padding-top: 0px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  max-width: 600px;
}

.contact-contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #012e55; /* Color for icons and text */
}

.contact-contact span {
  padding-left: 10px;
  font-size: 20px;
}
